<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My_Flask_App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href={{ url_for('static', filename='css/index.css') }}> -->
  </head>
  <body>
    {% include 'includes/_navbar.html' %}
    <div class="container">
      {% include 'includes/_messages.html' %}
      {% block body %} {% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"> </script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- <script>
      function myFunction() {
        alert("I am an alert box!");
      }
    </script> -->
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script> -->
  </body>
</html>
